<html>
<head>
    <title>Inventory</title>
</head>
<body>
    <h1>Welcome to the Stuffed Animal Friend Inventory!</h1>

    <p><a href="/lists">Click here</a> to see all of the inventory items and to add an item.</p>


</body>
</html>
